.aside {
    width: 20%;
    height: 100vh;
    background: #6200ee;
    color: white;
    overflow: hidden;
    text-align: center;
}

.avatarContainer {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 140px;
    height: 140px;
    overflow: hidden;
}

.menuItemsContainer {
    width: 100%;
    height: 70vh;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menuItemsContainer li {
    width: 90%;
    border-top: 1px solid rgb(228, 228, 228);
    margin: 0 auto;
    height: 25%;
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuItemsContainer li:hover {
    background: #6b0df0;
    box-shadow: 0.2rem 0.1em 0.5rem #720dff;
}

